@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins,sanserif";
}
nav{

  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
.logo{
  width: 5%;

}
  ul{
    gap: 20px;
    display: flex;
    li:hover{
      color:#3498db;
    }
  }
}
#hero{
  margin: 0;
  padding: 0;
  background-image: url(../src/assets/Hero.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #FFF;
  height: 80vh;
  width: 90vw;
  #text{
    background-color: rgba(0, 0, 0, 0.712);
    height: 80vh;
    width: 90vw;
  }
}
.carousel-background{
  background-image: url(../src/assets/Hero.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  color: #FFF;
  height: 80vh;
  width: 100%;
  #text{
    background-color: rgba(0, 0, 0, 0.527);
    height: 80vh;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    h1{
      font-size: 50px;
      font-family: "Monsterrate";
    }
    p{
      font-family: "Monsterrate";
    }
   .buttonss{
    display: flex;
    justify-content: center;
      gap: 30px;
      padding-top: 20px;
    }
    .whatsapp-button{

      color: white;
      padding: 5px 10px;
      border-radius: 10px;
    
      border: 3px solid #fff;
    
      border-radius: 10px;
    }

    .button{
      border: 3px solid #fff;
      padding: 5px 6px;
      border-radius: 10px;
    }
  }
}